* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Mitr', sans-serif;
	color: #f2f2f2;
}

$primary-background-color-button: #00aeff;
$primary-bright-color-font: #7a869f;
$input-background-color: #576075;
$input-placeholder-font-color: #7b859d;

/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #414858;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #7b859d;
	border-radius: 1000px;
	border: solid 4px #414858;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #a7aebe;
}

::selection {
	background: #97a1b4;
}

body {
	width: 100%;
	height: auto;
	background-color: #414858;
}
